name: Deploy to Server

on:
  push:
    branches:
      - main  # ← замени на свою ветку, если у тебя другая

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /home/ubuntu/olympiad_tiger_site
            git pull origin main
            npm install
            NODE_OPTIONS="--max-old-space-size=4096" npm run build
            pm2 restart tigers



